[submodule "microservices/ems-algashop-ordering"]
	path = microservices/ems-algashop-ordering
	url = https://github.com/jeanmalvessi/ems-algashop-ordering.git
[submodule "docs"]
	path = docs
	url = https://github.com/jeanmalvessi/ems-algashop-docs.git
[submodule "microservices/ems-algashop-billing"]
	path = microservices/ems-algashop-billing
	url = https://github.com/jeanmalvessi/ems-algashop-billing.git
